.button {
    margin: 0 1;
}

Input, Select {
    height: 3;
}

#button_container {
    height: 5;
    padding: 1;
    background: black;
}

.category {
    background: rgb(36, 51, 97);
    margin-top: 1;
    margin-bottom: 1;
    height: auto;
}

.subcategory {
    background: gray;
    margin: 1;
    padding-right: 1;
    height: auto;
}

.subcategory_content {
    background: rgb(36, 36, 36);
    margin: 1;
    height: auto;
    width: auto;
}

.special_test_row {
    background: rgb(72, 125, 239);
    margin: 1;
    height: auto;
    width: auto;
}

.special_test_class {
    width: auto;
    height: auto;
}

.special_test_row > Input,
.special_test_row > Select {
    width: 1fr;
}
